# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Other
.vscode
*.tsv
*.pt
gpt*.txt
*.env
local/
local_*
build/
*.egg-info/
.idea
.venv

# Project-specific
secrets.toml
*.log
*/assertion.log
*results/
frontend/demo_light/chroma_db/
frontend/DEMO_WORKING_DIR/
frontend/data/
frontend/data/tweedelijns_melding324.csv
